@import url('https://fonts.googleapis.com/css?family=Rubik:300,700');

html {
  font-family: 'Rubik', sans-serif;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projects > * {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  min-width: 200px;
  max-width: 300px;
}

.projects > .project-content * {
  font-size: 0.9em;
}
